
.playlists {
  text-align: right;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;

  .title {
    font-size: 14px;
    margin: 0;
  }

  .menu {
    max-width: 160px;
    background-color: rgba(255, 255, 255, 0.1);
  }

}

@media (max-width: 900px) {
  .playlists {
    text-align: left;
    justify-content: flex-start;

    .menu {
      max-width: 195px;
    }
  }
}
