@import '../../../styles/settings.scss';

.preview {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  filter: grayscale(100%);
  color: $color-preview;

  // PROFILE

  .profile_data {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    flex-direction: row-reverse;

    .profile_img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-left: 10px;
      background: $color-loader;
    }

    .name, .followers {
      margin: 0;
      text-align: right;
    }

    .followers {
      font-size: 12px;
    }
  }

  // PLAYLIST

  .playlists {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;

    .title {
      font-size: 14px;
      margin: 0;
    }

    .menu {
      max-width: 160px;
    }
  }

  // SEARCH

  .spotify_search {
    display: flex;
    text-align: right;
    justify-content: flex-end;

    .selector {
      display: flex;
      width: 230px;
      height: 80px;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;

      .title {
        font-size: 14px;
        margin: 0;
      }

      span {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }
  }

  // TRACK

  .track_player {
    display: flex;
    justify-content: flex-end;

    iframe {
      width: 250px;
      height: 80px;
    }
  }

  // CONFIRMATION BUTTON

  .confirmation_container {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;

    .confirmation_button {
      width: 290px;
    }
  }

}

@media (max-width: 900px) {

  .preview {
    align-items: flex-start;

    .profile_data {
      flex-direction: row;
      gap: 10px;

      .profile_img {
        margin-left: 0;
      }

      .name, .followers {
        margin: 0;
        text-align: left;
      }
    }


    .playlists {
      text-align: left;
      justify-content: flex-start;

      .menu {
        max-width: 195px;
      }
    }


    .spotify_search {
      text-align: left;
      justify-content: flex-start;

      .selector {
        flex-direction: row-reverse;
        width: 250px;
      }
    }


    .track_player {
      justify-content: flex-start;
    }


    .confirmation_container {
      text-align: left;
      justify-content: flex-start;

      .confirmation_button {
        width: 250px;
      }
    }
  }
}
