@import '../../../styles/settings.scss';

.guide {
  width: $youtube-pages-width;
  height: $youtube-pages-height;
  display: flex;
  flex-direction: column;

  .preview_info {
    font-size: 12px;
    padding-left: 15px;
    margin: 0;
  }

}

@media (max-width: 550px) {
  .guide {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .guide {
    width: 250px;
  }
}

@media (max-width: 350px) {
  .guide {
    width: 200px;
    font-size: 14px;
  }
}
