@import './settings.scss';
@import './typography.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, $color-background-darker 0%, $color-background-lighter 50%, $color-background-darker 120%);
  font-family: $font-text;
  font-size: $base-size;
  font-weight: $base-weight;
  color: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  overflow-x: hidden;
}
