$color-light: #FFFFFF;
$color-dark: #2f3542;
$color-background: #35476E;
$color-wave-darker: #2A3858;
$color-wave-lighter: #3c5896;
$color-placeholder: #a4b5db;
$color-spotify: #26de81;
$color-youtube: #ff0000;
