@import '../../../styles/settings.scss';

.header {
  position: relative;

  .title {
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
  }

  .below {
    background-image: linear-gradient(90deg, $color-youtube, $color-spotify);
  }

  .above {
    background-image: linear-gradient(black, black);

    animation: slide 15s infinite linear;
  }

  @keyframes slide {
    0% {
      background-size: 100%;
      background-position: right;
    }
    10% {
      background-size: 0%;
      background-position: right;
    }
    11% {
      background-size: 0%;
      background-position: left;
    }
    20% {
      background-size: 100%;
      background-position: left;
    }

  }
}
