
.video_section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .video_container {
    height: 200px;
    width: 350px;
    position: relative;

    iframe {
      height: 200px;
      width: 350px;
    }
  }

  .video_details {
    display: flex;
    flex-direction: column;

    .title {
      width: 350px;
      font-size: 14px;
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}
