@import '../../../styles/settings.scss';

.video_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: $youtube-pages-width;
  height: $youtube-pages-height;

  .video_container {
    height: 200px;
    width: 350px;
    position: relative;

    iframe {
      height: 200px;
      width: 350px;
    }
  }

  .video_details {
    display: flex;
    flex-direction: column;

    .title {
      width: 350px;
      font-size: 14px;
      font-weight: 800;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }
  }
}

@media (max-width: 900px) {
  .title {
    text-align: right;
  }
}

@media (max-width: 460px) {
  .video_section {

    .video_container {
      height: 200px;
      width: 300px;

      iframe {
        height: 200px;
        width: 300px;
      }
    }

    .video_details {

      .title {
        width: 300px;
      }
    }
  }
}

@media (max-width: 375px) {

  .video_section {

    .video_container {
      height: 200px;
      width: 250px;

      iframe {
        height: 200px;
        width: 250px;
      }
    }
    .video_details {

      .title {
        width: 250px;
      }
    }
  }
}
