
.track_player {
  display: flex;
  justify-content: flex-end;

  iframe {
    width: 250px;
    height: 80px;
  }
}

@media (max-width: 900px) {
  .track_player {
    justify-content: flex-start;
  }
}
