@import '../../../styles/settings.scss';

.loader {
  height: $youtube-pages-height;
  width: $youtube-pages-width;
  position: relative;

  .ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-light;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: slide 3s infinite ease-in-out;
    opacity: 0;
  }

  @for $i from 1 to 5 {
    .ball:nth-child(#{$i}) {
      animation-delay: 0.4s * $i;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 0.7;
    transform: translateX($youtube-pages-width/2);
  }
  60% {
    opacity: 0.7;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX($youtube-pages-width);
  }
}

.loader {
  .message {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    display: none;
    margin: 0;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .message.visible {
    display: block;
  }
}

@media (max-width: 550px) {

  .loader {
    width: 300px;
  }
}

@media (max-width: 450px) {

  .loader {
    width: 250px;
  }
}
