
.spotify_search {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;

  .selector {
    display: flex;
    width: 230px;
    height: 80px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    .title {
      font-size: 14px;
      margin: 0;
    }

    span {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
  }
}
