
.spotify_search {
  display: flex;
  text-align: right;
  justify-content: flex-end;

  .selector {
    display: flex;
    width: 230px;
    height: 80px;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;

    .title {
      font-size: 14px;
      margin: 0;
    }

    span {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 900px) {
  .spotify_search {
    text-align: left;
    justify-content: flex-start;

    .selector {
      flex-direction: row-reverse;
      width: 100%;
    }
  }
}
